/* Home page CSS */

#main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 350px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 60px;
}

.card img {
    height: 200px;
}

/* 404 Page CSS */

.fof-container{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
}

/* Detail Page CSS*/

#mob-content {
    display: flex;
}

.mob-details {
    margin-left: 30px;
}