/* Root Styles CSS */
:root {
    background-color: rgb(15, 15, 15);
    font-family: Avenir, Helvetica, sans-serif;
    color: white;
}

/* Header CSS */
.header-container {
    overflow: hidden;
    padding: 20px 10px;
    padding-bottom: 60px;
  }

.header-left {
    float: left;
    height: 100px;
    display: flex;
}

.header-left img {
    padding-top: 8px;
    height: 80px;
}

.header-left h1 {
    float: right;
    font-size: 45px;
    margin-left: 20px;
}

.header-right {
    float: right;
    padding-top:30px;
    padding-right:10px;
}

.header-right button {
  background-color: black;
  border: solid;
  border-width: 0px;
  border-radius: 0.1rem;
  border-radius: 16px;
  box-sizing: border-box;
  color:  white;
  cursor: pointer;
  padding: 15px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  width: 80px;
}

/* Home page CSS */

#main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 325px;
    background: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(51, 51, 51);
    border-radius: 0.3rem;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 60px;
}

.card img {
    height: 200px;
}

.top-container {
    padding: 20px;
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
}

.bottom-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.more-info h3 {
    margin-top: 10px;
    margin-bottom: 6px;
}

.more-info a {
    color: rgb(16, 228, 111);
    text-decoration: none;
}

/* 404 Page CSS */

.fof-container{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    color:white;
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
}

/* Detail Page CSS*/

.mob-info {
    display: flex;
}

.image-container {
    width: 250px;
}

.image-container img {
    width: 80%;
}

.mob-details {
    width: 100px;
}